@media (max-width: 768px) {
  .animacion_burger_menu {
    font-size: 50px;
    height: 100px;
    width: 100px;
  }
  .left {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .logo {
    height: 50px;
    width: 50px;
  }
}
@media (max-width: 1000px) {
  .box_text_1,
  .box_text_2,
  .box_text_3,
  .box_text_4 {
    width: 100%;
  }
}
